/* side area */

.aside_main {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.aside {
    padding: 25px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--aside);
}

.profile_pic {
    border-radius: 50%;
    background-color: var(--background);
    height: 100px;
    width: 100px;
}

.user_name {
    margin-top: 20px;
}

.group {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
}

.divider {
    height: 1px;
    background-color: var(--font);
    margin: 35px 0;
}

.list {
    display: grid;
    gap: 10px;
}
.list_item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 10px;
    align-items: center;
}

.switch {
    margin-top: auto;
}

.list_icon {
    width: 24px;
}

.current_circle {
    border-radius: 50%;
    border: 2px solid var(--background);
    width: 20px;
    aspect-ratio: 1;
}

/* Main area */

.main {
    padding: 25px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.setting_container {
    text-align: right;
}

.calendar_container {
    padding-top: 65px;
}

.date_container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.create_list {
    margin: auto auto 60px auto;
}
